body{
    padding-top: 72px;
}
.ad{
    background-color: rgb(50, 86, 205);
    position: static;
    top: 0px;
    
    z-index: 1;
}

.tag-line{
    font-size: 0.85rem;
    margin-top: -5px;
    color: grey;
   
}
.sticky-search{
    position: sticky;
    top: 90px;
    z-index: 1020;
}
@media (min-width: 992px) {
    .sticky-search {
      top: 70px; /* if your navbar is taller on desktop */
    }
  }
.image{
   
    background: url("/image/beedartlogoremove.png") center center no-repeat;
    background-size: contain;
    
    background-color: RGB(49 115 110);
    
    height: 70vh;
    /* width: 100%; */
}
.myStyle{
    text-decoration: none;
   
}
.nav-link:hover{
    color: #ffcc00 !important;
    transition: color 0.3s ease;
}
.dropdown-item:hover{
    background-color: #f8f9fa;
    color: #ffcc00 !important;
    transition: all 0.3s ease;
}
.cart{
    width: 100px;
}
.about-content{
    text-align: justify;
    text-justify: inter-word;
}

.slick-slide {
    display: flex !important;   /* make each slide behave like flex */
    justify-content: center;    /* center the card */
  }
  
  .slick-slide > div {
    height: 100%;  /* make the slide content stretch */
  }
  
  .card {
    height: 100%;  /* keep all cards equal height */
  }
  