
.ad{
    background-color: rgb(50, 86, 205);
    position: static;
    top: 0px;
    
    z-index: 1;
}

.tag-line{
    font-size: 0.85rem;
    margin-top: -5px;
    color: grey;
   
}
.image{
    background-image: url("/image/image2.jpeg");
    background-size: cover;
    background-position: center;
    height: 90vh;
}
.myStyle{
    text-decoration: none;
   
}
.nav-link:hover{
    color: #ffcc00 !important;
    transition: color 0.3s ease;
}
.dropdown-item:hover{
    background-color: #f8f9fa;
    color: #ffcc00 !important;
    transition: all 0.3s ease;
}